body,
.container {
    background-color: #24353f;
}
.mt-6{
    margin-top:10rem ;
}
nav,
.inner {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.form-control{
    color: aliceblue;
}
.form-control:focus {
    color: aliceblue;
    box-shadow: none;
}

.form-control::placeholder {
    color: gray;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}